# Project 3 - Supervised Machine Learning : Classification

Data source: https://archive.ics.uci.edu/dataset/2/adult

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style('white')

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [20]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
        'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

data = pd.read_csv('data/adult.data', names=columns)

data

       age          workclass  fnlwgt    education  education-num       marital-status          occupation    relationship    race      sex  capital-gain  capital-loss  hours-per-week  native-country  income
0       39          State-gov   77516    Bachelors             13        Never-married        Adm-clerical   Not-in-family   White     Male          2174             0              40   United-States   <=50K
1       50   Self-emp-not-inc   83311    Bachelors             13   Married-civ-spouse     Exec-managerial         Husband   White     Male             0             0              13   United-States   <=50K
2       38            Private  215646      HS-grad              9             Divorced   Handlers-cleaners   Not-in-family   White     Male             0             0              40   United-States   <=50K
3       53            Private  234721         11th              7   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male             0             0              40   United-States   <=50K
4       28            Private  338409    Bachelors             13   Married-civ-spouse      Prof-specialty            Wife   Black   Female             0             0              40            Cuba   <=50K
...    ...                ...     ...          ...            ...                  ...                 ...             ...     ...      ...           ...           ...             ...             ...     ...
32556   27            Private  257302   Assoc-acdm             12   Married-civ-spouse        Tech-support            Wife   White   Female             0             0              38   United-States   <=50K
32557   40            Private  154374      HS-grad              9   Married-civ-spouse   Machine-op-inspct         Husband   White     Male             0             0              40   United-States    >50K
32558   58            Private  151910      HS-grad              9              Widowed        Adm-clerical       Unmarried   White   Female             0             0              40   United-States   <=50K
32559   22            Private  201490      HS-grad              9        Never-married        Adm-clerical       Own-child   White     Male             0             0              20   United-States   <=50K
32560   52       Self-emp-inc  287927      HS-grad              9   Married-civ-spouse     Exec-managerial            Wife   White   Female         15024             0              40   United-States    >50K

[32561 rows x 15 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB